@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
  
  p {
    margin: 0;
  }
  
  .clip-contents {
    overflow: hidden;
  }
  
  .flex-col-hstart-vstart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .flex-row-vstart-hstart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .flex-row-vcenter-hstart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .flex-col-hcenter-vcenter {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
  }
  
  .flex-row-vcenter {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .flex-hcenter {
    justify-content: center;
  }
  
  .flex-row-vcenter-hcenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .hero-03 {
    padding: 52px 625px 360px 117px;
    box-sizing: border-box;
    background: url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/dsf3g12be3b-89%3A2111?alt=media&token=9e2fefad-4ce9-489b-bb85-cfefc170be5d),
      linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background-size: 100% 100%;
    width: 1440px;
    height: 866px;
  }

  .content {
    padding: 95px 47px 0px 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  
  .header {
    margin-bottom: 32px;
    box-sizing: border-box;
    width: 648px;
  }
  
  .txt-718 {
    font-size: 60px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.5px;
    color: rgba(162, 89, 255, 1);
    width: 649px;
    word-wrap: break-word;
    margin-bottom: 16px;
    margin-top: 100px;
  }
  
  .txt-423 {
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 156%;
    color: rgba(55, 65, 81, 1);
    width: 649px;
    word-wrap: break-word;
  }
  
  .label {
    width: 121px;
    height: 20px;
    margin-bottom: 32px;
  }
  
  .ctas {
    width: fit-content;
  }
  
  .search-field {
    border-radius: 8px;
    background-color: rgba(243, 243, 243, 1);
    width: 100%;
    height: 100%;
  }
  
  .group-935 {
    height: 50px;
  }
  
  .filter-icons {
    width: 29px;
    height: 24px;
    margin-left: 16px;
  }
  
  .txt-929 {
    font-size: 16px;
    font-weight: 600;
    color: rgba(128, 128, 128, 1);
    text-align: center;
    word-wrap: break-word;
    margin-right: 374px;
  }
  
  .search-button {
    border-radius: 8px;
    background-color: rgba(162, 89, 255, 1);
    height: 100%;
  }
  
  ._button-base {
    padding: 15px 23px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }
  
  .txt-729 {
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
  }
  
  .search-icon {
    width: 24px;
    height: 24px;
  }
  
  .fisearch {
      margin-right: 10px;
      stroke-width: 2;
  }
  
  .vscsetting {
      margin-left: 10px;
      margin-right: 10px;
      stroke-width: 0.5;
  }
  
  .searchbtn {
      border-radius: 8px;
      background-color: rgba(162, 89, 255, 1);
      height: 100%;
      justify-content: center;
      align-items: center;
  }
  
  .searchbtninner {
      padding: 8px 17px;
  }

  .loginbtn {
      padding: 8px 17px;
      border-radius: 80px;
      justify-content: center;
      align-items: center;
  }
  
  /* Features12 */
  .features12892161-features12892161 {
    width: 1438px;
    display: flex;
    padding: 96px 112px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    flex-direction: column;
    background-color: rgba(162, 89, 255, 1);
  }
  .features12892161-sectionheading892162 {
    width: 800px;
    margin: 0 0 64px 0;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .features12892161-text {
    color: rgba(255, 255, 255, 1);
    width: 791px;
    font-size: 48px;
    font-weight: 700;
    height: auto;
    margin: 0 0 8px 0;
    align-self: stretch;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
  }
  .features12892161-text1 {
    color: rgba(255, 255, 255, 1);
    width: 800px;
    height: auto;
    align-self: stretch;
    text-align: center;
    line-height: 28px;
    text-decoration: none;
  }
  .features12892161-container892163 {
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
  }
  .features12892161-row01892164 {
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
  }
  .features12892161-frame-feature-item892165 {
    width: 384px;
    margin: 0 30px 0 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 8px;
    flex-direction: column;
  }
  .features12892161-image {
    width: 35px;
    height: 35px;
    color: white;
    margin: 0 0 24px 0;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .features12892161-content892168 {
    display: flex;
    padding: 0 16px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
  }
  .features12892161-text2 {
    color: rgba(255, 255, 255, 1);
    width: 352px;
    font-size: 25px;
    font-weight: 600;
    height: auto;
    margin: 0 0 8px 0;
    align-self: stretch;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
  }
  .features12892161-text3 {
    color: rgba(255, 255, 255, 1);
    width: 352px;
    height: auto;
    align-self: stretch;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
  }
  .features12892161-frame-feature-item892171 {
    width: 384px;
    margin: 0 30px 0 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 8px;
    flex-direction: column;
  }
  .features12892161-image1 {
    width: 35px;
    color: white;
    height: 35px;
    margin: 0 0 24px 0;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .features12892161-content892174 {
    display: flex;
    padding: 0 16px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
  }
  .features12892161-text4 {
    color: rgba(255, 255, 255, 1);
    width: 352px;
    font-size: 25px;
    font-weight: 600;
    height: auto;
    margin: 0 0 8px 0;
    align-self: stretch;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
  }
  .features12892161-text5 {
    color: rgba(255, 255, 255, 1);
    width: 352px;
    height: auto;
    align-self: stretch;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
  }
  .features12892161-frame-feature-item892177 {
    width: 384px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 8px;
    flex-direction: column;
  }
  .features12892161-image2 {
    width: 35px;
    height: 35px;
    color: white;
    margin: 0 0 24px 0;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .features12892161-content892180 {
    display: flex;
    padding: 0 16px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
  }
  .features12892161-text6 {
    color: rgba(255, 255, 255, 1);
    width: 352px;
    font-size: 25px;
    font-weight: 600;
    height: auto;
    margin: 0 0 8px 0;
    align-self: stretch;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
  }
  .features12892161-text7 {
    color: rgba(255, 255, 255, 1);
    width: 352px;
    height: auto;
    align-self: stretch;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
  }
  
  /* Footer_10 =====================================================================================================*/
  
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
  
  p {
    margin: 0;
  }
  
  .clip-contents {
    overflow: hidden;
  }
  
  .flex-row-vstart-hstart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .flex-col-hstart-vstart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .flex-hcenter {
    justify-content: center;
  }
  
  .footer-_10 {
    padding: 91px 113px;
    box-sizing: border-box;
    background-color: rgba(162, 89, 255, 1);
    width: 1440px;
    height: 532.8px;
  }
  
  .copyrights {
    margin-right: 131px;
    box-sizing: border-box;
    height: fit-content;
  }
  
  .left-nav {
    width: 143px;
    height: 50px;
    margin-bottom: 38px;
  }
  
  .txt-737 {
    font-size: 16.46px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 163%;
    color: rgba(255, 255, 255, 1);
    width: 206px;
    height: 81px;
    word-wrap: break-word;
    mix-blend-mode: normal;
    margin-bottom: 38px;
  }
  
  .socials {
    width: fit-content;
  }
  
  .txt-441 {
    font-size: 18.51px;
    font-family: FontAwesome, sans-serif;
    font-weight: 400;
    line-height: 144%;
    color: rgba(255, 255, 255, 1);
    width: 18px;
    height: 28px;
    word-wrap: break-word;
    margin-right: 35px;
    text-transform: uppercase;
  }
  
  .txt-619 {
    font-size: 18.51px;
    font-family: FontAwesome, sans-serif;
    font-weight: 400;
    line-height: 144%;
    color: rgba(255, 255, 255, 1);
    width: 17px;
    height: 28px;
    word-wrap: break-word;
    margin-right: 34px;
    text-transform: uppercase;
  }
  
  .txt-967 {
    font-size: 18.51px;
    font-family: FontAwesome, sans-serif;
    font-weight: 400;
    line-height: 144%;
    color: rgba(255, 255, 255, 1);
    width: 26px;
    height: 28px;
    word-wrap: break-word;
    text-transform: uppercase;
  }
  
  .copyrights {
    margin-right: 131px;
    box-sizing: border-box;
    height: 100%;
  }
  
  .txt-266 {
    font-size: 18.51px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    line-height: 156%;
    color: rgba(255, 255, 255, 1);
    width: 80px;
    height: 30px;
    word-wrap: break-word;
    margin-bottom: 19px;
  }
  
  .txt-389 {
    font-size: 16.46px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 163%;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
    mix-blend-mode: normal;
    margin-bottom: 19px;
  }
  
  .txt-675 {
    font-size: 16.46px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 163%;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
    mix-blend-mode: normal;
  }
  
  .copyrights {
    margin-right: 131px;
    box-sizing: border-box;
    height: fit-content;
  }
  
  .txt-394 {
    font-size: 18.51px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    line-height: 156%;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
    margin-bottom: 19px;
  }
  
  .txt-913 {
    font-size: 16.46px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 163%;
    color: rgba(255, 255, 255, 1);
    width: 98px;
    height: 28px;
    word-wrap: break-word;
    mix-blend-mode: normal;
    margin-bottom: 19px;
  }
  
  .txt-3510 {
    font-size: 16.46px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 163%;
    color: rgba(255, 255, 255, 1);
    width: 100px;
    height: 28px;
    word-wrap: break-word;
    mix-blend-mode: normal;
    margin-bottom: 19px;
  }
  
  .txt-680 {
    font-size: 16.46px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 163%;
    color: rgba(255, 255, 255, 1);
    width: 54px;
    height: 28px;
    word-wrap: break-word;
    mix-blend-mode: normal;
    margin-bottom: 19px;
  }
  
  .txt-524 {
    font-size: 16.46px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 163%;
    color: rgba(255, 255, 255, 1);
    width: 54px;
    height: 28px;
    word-wrap: break-word;
    mix-blend-mode: normal;
  }
  
  .copyrights {
    margin-right: 131px;
    box-sizing: border-box;
    height: fit-content;
  }
  
  .txt-1044 {
    font-size: 18.51px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    line-height: 156%;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
    margin-bottom: 17px;
  }
  
  .txt-7371 {
    font-size: 16.46px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 163%;
    color: rgba(255, 255, 255, 1);
    width: 57px;
    height: 28px;
    word-wrap: break-word;
    mix-blend-mode: normal;
    margin-bottom: 17px;
  }
  
  .txt-6610 {
    font-size: 16.46px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 163%;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
    mix-blend-mode: normal;
    margin-bottom: 17px;
  }
  
  .txt-402 {
    font-size: 16.46px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 163%;
    color: rgba(255, 255, 255, 1);
    width: 78px;
    height: 28px;
    word-wrap: break-word;
    mix-blend-mode: normal;
    margin-bottom: 17px;
  }
  
  .txt-675 {
    font-size: 16.46px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 163%;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
    mix-blend-mode: normal;
  }
  
  .socials {
    height: fit-content;
  }
  
  .txt-550 {
    font-size: 18.51px;
    font-family: FontAwesome, sans-serif;
    font-weight: 400;
    line-height: 144%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    width: 20px;
    height: 28px;
    word-wrap: break-word;
    margin-right: 11px;
  }
  
  .txt-848 {
    font-size: 16.46px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 163%;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
    margin-right: 4px;
  }
  
  .txt-827 {
    font-size: 16.46px;
    font-family: FontAwesome, sans-serif;
    font-weight: 400;
    line-height: 163%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    width: 12px;
    height: 28px;
    word-wrap: break-word;
  }
  
  /* Testimonial Section */
  .testimonial06892187-testimonial06892187 {
    width: 1440px;
    height: 892px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: rgba(249, 244, 255, 1);
  }
  .testimonial06892187-image {
    top: 64px;
    left: 112px;
    width: 142px;
    height: 116px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .testimonial06892187-sectionheading-i892187197810332 {
    top: 120px;
    left: 216px;
    width: 488px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .testimonial06892187-text {
    color: rgba(17, 24, 39, 1);
    width: 488px;
    font-weight: 600;
    font-size: 48px;
    height: auto;
    margin: 0 0 8px 0;
    align-self: stretch;
    text-align: left;
    line-height: 60px;
    text-decoration: none;
  }
  .testimonial06892187-text01 {
    color: rgba(17, 24, 39, 1);
    width: 488px;
    height: auto;
    font-size: 18px;
    align-self: stretch;
    text-align: left;
    line-height: 28px;
    text-decoration: none;
  }
  .testimonial06892187-frame-testimonialitem-i892187197810333 {
    top: 340px;
    left: 320px;
    width: 384px;
    display: flex;
    padding: 32px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.10000000149011612) ;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 8px;
    flex-direction: column;
    background-color: white;
  }
  .testimonial06892187-frame-clientlogo-i892187197810333197810034 {
    width: 112px;
    height: 32px;
    margin: 0 0 32px 0;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
  }
  .testimonial06892187-image1 {
    top: -0.0019346720073372126px;
    left: 0px;
    width: 112px;
    height: 32px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .testimonial06892187-content-i892187197810333197810035 {
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
  }
  .testimonial06892187-image2 {
    width: 16px;
    height: 13px;
    margin: 0 16px 0 0;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .testimonial06892187-feedback-person-details-i892187197810333197810037 {
    width: 288px;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .testimonial06892187-text02 {
    color: rgba(17, 24, 39, 1);
    width: 288px;
    height: auto;
    margin: 0 0 24px 0;
    align-self: stretch;
    text-align: left;
    line-height: 28px;
    text-decoration: none;
  }
  .testimonial06892187-person-details-i892187197810333197810039 {
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
  }
  .testimonial06892187-text03 {
    color: rgba(17, 24, 39, 1);
    width: 288px;
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 28px;
    text-decoration: none;
  }
  .testimonial06892187-text04 {
    color: var(--dl-color-neutral-500171dc);
    width: 288px;
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 20px;
    text-decoration: none;
  }
  .testimonial06892187-frame-testimonialitem-i892187197810334 {
    top: 540px;
    left: 736px;
    width: 384px;
    display: flex;
    padding: 32px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.10000000149011612) ;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 8px;
    flex-direction: column;
    background-color: white;
  }
  .testimonial06892187-image3 {
    width: 112px;
    height: 32px;
    margin: 0 0 32px 0;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .testimonial06892187-content-i892187197810334197810035 {
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
  }
  .testimonial06892187-image4 {
    width: 16px;
    height: 13px;
    margin: 0 16px 0 0;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .testimonial06892187-feedback-person-details-i892187197810334197810037 {
    width: 288px;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .testimonial06892187-text05 {
    color: rgba(17, 24, 39, 1);
    width: 288px;
    height: auto;
    margin: 0 0 24px 0;
    align-self: stretch;
    text-align: left;
    line-height: 28px;
    text-decoration: none;
  }
  .testimonial06892187-person-details-i892187197810334197810039 {
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
  }
  .testimonial06892187-text06 {
    color: rgba(17, 24, 39, 1);
    width: 288px;
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 28px;
    text-decoration: none;
  }
  .testimonial06892187-text07 {
    color: var(--dl-color-neutral-500171dc);
    width: 288px;
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 20px;
    text-decoration: none;
  }
  .testimonial06892187-frame-testimonialitem-i892187197810335 {
    top: 196px;
    left: 736px;
    width: 488px;
    display: flex;
    padding: 32px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.10000000149011612) ;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 8px;
    flex-direction: column;
    background-color: white;
  }
  .testimonial06892187-image5 {
    width: 112px;
    height: 32px;
    margin: 0 0 32px 0;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .testimonial06892187-content-i892187197810335197810035 {
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
  }
  .testimonial06892187-image6 {
    width: 16px;
    height: 13px;
    margin: 0 16px 0 0;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .testimonial06892187-feedback-person-details-i892187197810335197810037 {
    width: 392px;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .testimonial06892187-text08 {
    color: rgba(17, 24, 39, 1);
    width: 392px;
    height: auto;
    margin: 0 0 24px 0;
    align-self: stretch;
    text-align: left;
    line-height: 28px;
    text-decoration: none;
  }
  .testimonial06892187-person-details-i892187197810335197810039 {
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
  }
  .testimonial06892187-text09 {
    color: rgba(17, 24, 39, 1);
    width: 392px;
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 28px;
    text-decoration: none;
  }
  .testimonial06892187-text10 {
    color: var(--dl-color-neutral-500171dc);
    width: 392px;
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 20px;
    text-decoration: none;
  }
  
  /* Login Page *************************************************************************************************/
  
  .loginform {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
  }
  .loginform label {
    text-align: left;
    display: block;
    margin-bottom: -25px;
    margin-top: 25px;
  }
  .loginform input{
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    border-radius: 4px;
    padding-left: 35px;
  }
  .loginform button {
    background: #A259FF;
    color: #fff;
    border: 0;
    width: 100%;
    padding: 12px 0px 12px 0px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
  }
  .form {
    display: block;
    justify-content: center;
    position: absolute;
  }
  .loginformtitle {
    font-size: 48px;
    font-weight: 500;
  }
  
  .emailfield {
    text-align: center;
  }
  .formiconemail {
    position: relative;
    top: 46px;
    padding: 2px;
    align-items: unset;
    left: 7px;
    color: gray;
  }
  .formiconpass {
    position: relative;
    top: 44px;
    padding: 2px;
    align-items: unset;
    left: 7px;
    color: gray;
  }
  .form:focus {
    color: dodgerblue;
  }

.footer-wrapper {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  justify-content: flex-start;
}

.desktop575447976-desktop575447976 {
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
} 
.desktop575447976-frame15447977 {
  top: 80px;
  left: -1.5px;
  width: 1443px;
  height: 691px;
  display: flex;
  padding: 61px 511px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.desktop575447976-frame4465448058 {
  margin: 0 0 62px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.desktop575447976-frame4475448064 {
  margin: 0 0 26px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.desktop575447976-text {
  color: Black;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
}
.desktop575447976-text1 {
  color: Black;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 500px;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop575447976-frame4495448066 {
  display: flex;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.desktop575447976-frame4485448065 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.desktop575447976-button5448049 {
  width: 228px;
  height: 50px;
  margin: 0 26px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.desktop575447976-frame-buttonbase5448050 {
  display: flex;
  padding: 16px 24px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.desktop575447976-text2 {
  color: Black;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop575447976-button5448052 {
  width: 228px;
  height: 50px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: rgba(162, 89, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  justify-content: center;
  background-color: Black;
}
.desktop575447976-frame-buttonbase5448053 {
  display: flex;
  padding: 16px 24px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.desktop575447976-text3 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop575447976-button5448055 {
  width: 485px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: Black;
}
.desktop575447976-frame-buttonbase5448056 {
  display: flex;
  padding: 16px 24px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.desktop575447976-text4 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 24px;
  text-decoration: none;
}
.desktop575447976-footer105448011 {
  top: 771px;
  left: 0px;
  width: 1440px;
  display: flex;
  padding: 91px 113px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: Black;
}
.desktop575447976-menu35448012 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.desktop575447976-text5 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 17px 0;
  font-size: 16.457143783569336px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400px;
  line-height: 26.74285888671875px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop575447976-text6 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16.457143783569336px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400px;
  line-height: 26.74285888671875px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop575447976-navbar5448015 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 80px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop575447976-left-nav5448016 {
  top: 15px;
  left: 112px;
  width: 143px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.desktop575447976-frame5448017 {
  width: 143px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.desktop575447976-group5448018 {
  top: 0.005042355973273516px;
  left: 0px;
  width: 143px;
  height: 49.99495315551758px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.desktop575447976-image {
  top: 0px;
  left: 0px;
  width: 143px;
  height: 32px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop575447976-image1 {
  top: 37.3537712097168px;
  left: 105.62350463867188px;
  width: 37px;
  height: 13px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop575447976-image2 {
  top: 79px;
  left: 0px;
  width: 1440px;
  height: 1px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}