@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #363636 !important; 
    font-weight: 600;
    font-size: 16px;
}

.ant-tabs-ink-bar {
    position: absolute;
    background: #9d4343;
    pointer-events: none;
}

:hover.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #A259FF;
}